﻿@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<TC.EMEA.PropertyEtl.Common.Models.Property>
}

<div class="text-center">
    <h4>Property list</h4>
    <table class="table table-bordered table-striped table">
        <tr>
            <th>Id</th>
            <th>Source System</th>
            <th>Name</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>PostCode</th>
            <th>City</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Floor area</th>
            <th>Floor count</th>
        </tr>
        @foreach (var property in Model) {
    <tr>
        <td>
            @Html.DisplayFor(x => property.SourcePropertyId)
        </td>
        <td>
            @Html.DisplayFor(x => property.SourceSystem)
        </td>
        <td>
            @Html.DisplayFor(x => property.Name)
        </td>
        <td>
            @Html.DisplayFor(x => property.Address1)
        </td>
        <td>
            @Html.DisplayFor(x => property.Address2)
        </td>
        <td>
            @Html.DisplayFor(x => property.PostCode)
        </td>
        <td>
            @Html.DisplayFor(x => property.City)
        </td>
        <td>
            @Html.DisplayFor(x => property.Latitude)
        </td>
        <td>
            @Html.DisplayFor(x => property.Longitude)
        </td>
        <td>
            @Html.DisplayFor(x => property.FloorArea)
        </td>
        <td>
            @Html.DisplayFor(x => property.FloorCount)
        </td>
    </tr>
        }
       
       
    </table>
</div>
