﻿
@{
    @model S2PropertyViewModel
    ViewData["Title"] = "Index";
}

<h5>S2 Property</h5>

<div class="text-left">
    <form asp-action="Index" asp-controller="S2Property" enctype="multipart/form-data">
        <table class="table table-bordered table-striped">
            <tr>
                <td><label asp-for="S2PropertyFile" class="col-sm-2 col-form-label"></label></td>
                <td>
                    <div class="col-md-4">
                        <input asp-for="S2PropertyFile" placeholder="Id" class="form-control" accept="application/json" />
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="col-md-4 mt-5">
                        <input type="submit" class="btn btn-success" />
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
