﻿@using Microsoft.AspNetCore.Mvc.ModelBinding

@{
    @model S1PropertyModel;
    ViewData["Title"] = "S1 Property";
}

<h5>S1 Property</h5>

<div class="text-left">
    <form asp-action="Index" asp-controller="S1Property">
        <div asp-validation-summary="All"></div>
        <table class="table table-bordered table-striped">
            <tr>
                <td><label asp-for="Id" class="col-sm-2 col-form-label"></label></td>
                <td>
                    <div class="col-md-4">
                        <input asp-for="Id" placeholder="Id" class="form-control"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Address1" class="col-sm-2 col-form-label"></label></td>
                <td>
                    <div class="col-md-4">
                        <input asp-for="Address1" placeholder="address1" class="form-control"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td> <label asp-for="Address2" class="col-sm-2 col-form-label"></label></td>
                <td>
                    <div class="col-md-4">
                        <input asp-for="Address2" placeholder="address2" class="form-control"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td> <label asp-for="Lat" class="col-sm-2 col-form-label"></label></td>
                <td>
                    <div class="col-md-4">
                        <input asp-for="Lat" placeholder="Latitude" class="form-control"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td> <label asp-for="Lon" class="col-sm-2 col-form-label"></label></td>
                <td>
                    <div class="col-md-4">
                        <input asp-for="Lon" placeholder="Longitude" class="form-control"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label asp-for="FloorCount" class="col-sm-2 col-form-label"></label></td>
                <td>
                    <div class="col-md-4">
                        <input asp-for="FloorCount" placeholder="Floor count" class="form-control"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="col-md-4 mt-5">
                        <input type="submit" class="btn btn-success"/>
                    </div>
                </td>
            </tr>
        </table>

    </form>
</div>


